<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="css/dashboard.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container">
         <div class="navbar-header">
           <a class="navbar-brand" href="/dashboard.html">Real-Time Analytics<span class="coligo"> | COLIGO.IO</span></a>
         </div>
       </div>
     </nav>

     <div class="container">
       <div id="app">
         <div class="row">
           <div class="col-xs-3">
             <div class="well">
               <h1 class="dash-red">{{ activeUsers }} <i class="glyphicon glyphicon-user"></i></h1>
               <h3 class="text-muted">Active Users</h3>
             </div>
           </div>

           <div class="col-xs-9">
             <h2 class="sub-header">Active Pages</h2>
             <div class="table-responsive">
               <table class="table">
                 <thead>
                   <td>Page URL</td>
                   <td>Active Users</td>
                 </thead>
                 <tbody>
                   <tr v-for="(page, count) in pages">
                     <td>{{ page }}</td>
                     <td>{{ count }}</td>
                   </tr>
                 </tbody>
               </table>
             </div>

             <h2 class="sub-header">Referrals</h2>
             <div class="table-responsive">
               <table class="table">
                 <thead>
                   <td>Referring Site</td>
                   <td>Active Users</td>
                 </thead>
                 <tbody>
                   <tr v-for="(referringSite, count) in referrers">
                     <td>{{ referringSite }}</td>
                     <td>{{ count }}</td>
                   </tr>
                 </tbody>
               </table>
             </div>

           </div>

         </div>
       </div>
     </div>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.js"></script>
     <script src="/socket.io/socket.io.js"></script>
     <script src="js/dashboard.js"></script>
  </body>
</html>
