body {
           background-color: #F2F2F0;
       }

       .navbar {
           background-color: #373737;
           padding: 5px;
       }

       .navbar a {
           color: #8C8C8C;
           font-size: 1.5em;
       }

       .Coding-Saints {
           color: #D0D0D0;
           font-size: 0.8em;
       }
